[2016-06-01 15:23] HugoGiraudel opened #1 "Problem setup with Rails"
Hello,

Thank you for your work! We are currently trying to use `mjml-rails` at Edenspiekermann, but we are facing an issue to make it work, unfortunately. :(

We manage to render the email and everything, but MJML templates are not compiled. The `<mjml-*>` tags are reaching the browser, and no compilation to HTML ever seems to happen.

![Screenshot](http://i.imgur.com/i33bE0V.png)

Here is our se

[2016-06-02 00:48] sighmon commented on #1
@HugoGiraudel @pgoetze Oh right, in `foobar_mailer.rb` try this:

[code]

I'll add that to the README if it solves your problem.

[2016-06-02 08:37] HugoGiraudel commented on #1
Hey, it seems to work, thanks!

Do you have any idea why a partial render does not crash but outputs nothing?

[code]

Also tried:

[code]

Also tried:

[code]

The partial does not print anything. :(

[2016-06-02 08:47] HugoGiraudel commented on #1
My bad, the formats should be `[:html]`. I misread the docs. Thanks! :x

[2016-06-02 12:44] sighmon commented on #1
@HugoGiraudel glad it's working for you now. Feel free to make improvements. :-)

[2016-06-02 12:44] #1 closed

[2016-08-03 08:07] manuelmeurer commented on #1
I had the exact opposite problem as OP. 😄
When I write
[code]
Rails can't find the template. When I just write `mail to: 'test@example.com', subject: 'test'` it works fine. Maybe a change in a recent version? I'm on v2.2.0.

[2016-08-03 08:28] manuelmeurer opened #3 "Haml"
I'm trying to use Haml instead of Erb to write my MJML templates. When I simply keep the `mjml` suffix (`mail.mjml`) the Haml is rendered as-is (not converted to HTML). When I use any combination of `mjml`, `haml` and `html` (e.g. `mail.mjml.haml`) the template cannot be found. How can I accomplish this?

[2016-08-05 22:20] cerdiogenes opened #4 "support for mail layouts"
I have the following ActionMailer classes:

[code]
This is my app/views/layouts/mailer.mjml:
[code]
and this is my app/views/user_mailer/password.mjml
[code]
When I preview this email I can see the header and footer text, but no content. I also see this in the logs:
[code]
Any hint in how to make mail layouts work with it?

[2016-08-06 14:19] cerdiogenes commented on #4
I discovered that if I rename my `password.mjml` template to `password.mjml.erb` I get the expected output. I don't understand why, probably due my lack of a deeper understanding of how rails render templates/layouts.

[2016-08-07 10:13] sighmon commented on #1
@manuelmeurer that's a known bug we're trying to find an elegant solution for at the moment. @thatpixguy has an ugly hack that gets around it for now.. did you want to post that here Pix?

Just out of interest, what folder are your views in @manuelmeurer ?

[2016-08-07 10:17] sighmon commented on #4
Interesting, do you get the same result if you use ```<%= render :partial => 'password', :formats => [:html] %>``` instead of ```<%= yield %>```?

[2016-08-07 10:19] manuelmeurer commented on #1
I put my views in a `mailers` folder, maybe that's the issue?

[code]

[2016-08-08 20:49] ezekg commented on #4
I was attempting to do this last week, and couldn't figure out a way to get a `<%= yield %>` to work. I ended up just duplicating the mailer layout for each view. I tried with an `.erb` extension, but that wasn't working for me using Rails 5.

[2016-08-09 18:04] cerdiogenes commented on #4
@sighmon render also doesn't work for me, maybe it's my mjml bin version (2.3.1). I can't install an older version to test, probably mjml authors doesn't [locked dependencies](https://docs.npmjs.com/cli/shrinkwrap). With this mjml version yield, nor render, methods will work.

The root of the problem is pointed by the following log line:
[code]
A workaround is to rename password.mjml to app/views/

[2016-08-09 20:56] cerdiogenes commented on #4
@sighmon using render works for me, I forgot to undo some modifications that I was trying in the gem, sorry!

[2016-08-10 09:37] sighmon commented on #1
@manuelmeurer @HugoGiraudel Try this and let me know how you get along:

[code]

[2016-08-10 09:43] sighmon commented on #4
@cerdiogenes oh awesome, glad that worked for you.

[2016-08-10 09:43] #4 closed

[2016-08-10 09:56] manuelmeurer commented on #1
Well, I'm actually happy with the way it works right now (without needing the block at all). 😄

[2016-08-10 16:58] cerdiogenes commented on #3
I started a branch to add haml support: https://github.com/fnix/mjml-rails/tree/haml-handler

From my understanding of how Rails render a template, the last extension determine the handler to be used, so adding .haml to the end will not append a handler as occur with assets.

I'd also would like to ask for help with the code in my branch. When running tests I'm get the following error:

[code]
I'm

[2016-08-11 18:32] jameslafa opened #5 "Problem with mime-types using turbolinks"
When using turbolinks to sign_in with devise, I have the following error:

[code]

[code]

I'm not sure how it exactly works, but I suspect that rails is trying to find out how to respond based on the MimeType which is `text/html`. Mjml-rails register also :mjml as `text/html` and it seems to create some kind of conflict. If I remove the minme-type registration inside Mjml-rails, then everything w

[2016-08-11 18:51] cerdiogenes commented on #3
After struggling a lot with this I don't think it's practical to have ERb and HAML support in the same gem, so I forked it: https://github.com/fnix/mjml-haml

[2016-08-11 19:28] manuelmeurer commented on #3
@cerdiogenes But it seems like in your fork you are actually implementing ERb and Haml support...?

[2016-08-11 19:32] cerdiogenes commented on #3
I will do a cleanup soon, I will support only haml.

[2016-08-11 20:34] manuelmeurer commented on #3
But why? 😄 It seems to be entirely possible to use ERb or Haml according to `Rails.application.config.generators.options[:rails][:template_engine]`.

[2016-08-11 20:51] cerdiogenes commented on #3
Yes, but it's only the runtime part. I didn't find a way to use haml in the tests.

[2016-08-12 00:34] cerdiogenes commented on #3
@manuelmeurer I just published mjml-rails: https://rubygems.org/gems/mjml-haml

[2016-08-12 06:10] jameslafa commented on #5
So I kept investigating and I realised that actually it was not only in devise, but everywhere on my website when navigating with Turbolinks. I'm still surprised to be the only one having this problem.

My intuition was that when you register the MimeType :mjml (see below), :mjml become the default format for "text/html". It's probably a question of order of the formats associated with the Mime::T

[2016-08-12 08:04] manuelmeurer commented on #3
Thanks for your work on this, I'm not sure a separate gem that duplicates all the logic is the right approach though to be honest. Are the tests the only reason this cannot be implemented in `mjml-rails`?
@sighmon What is your opinion about this issue?

[2016-08-12 09:18] sighmon commented on #3
@cerdiogenes nice work. I do agree with @manuelmeurer though - I'd rather we fixed the tests in `mjml-rails` than split it into another gem if the majority of the logic is the same. I'll try and have a play with your solution over the weekend.

[2016-08-12 14:16] cerdiogenes commented on #3
@sighmon the main issue is with this commit: https://github.com/fnix/mjml-haml/commit/bcbbfc4d9d3bf1475f99eb58eae78e8c29b261a8

The code in `lib/generators/mjml/mailer/mailer_generator.rb` is executed in the gem initialization, so it's occur very early during tests without giving us a chance to mock/stub what is necessary to the generator use haml.

Sorry for the duplicated work, your gem is very

[2016-08-12 14:28] cerdiogenes commented on #5
I have a suggestion here: don't worry with mimetypes and remove the line `Mime::Type.register "text/html", :mjml`

Instead of having `/app/views/user_mailer/email.mjml` we could name it `/app/views/user_mailer/email.html.mjml` and don't have to worry with format when sending email. In the end mjml is something to be converted to html. This also involves changing https://github.com/sighmon/mjml-rai

[2016-08-15 01:09] sighmon commented on #5
@jameslafa @cerdiogenes I was wondering if registering `Mime::Type.register "text/html", :miml` was the right thing to do, so thanks for investigating @jameslafa and @cerdiogenes 's solution sounds great.

It'd be ideal if the change going from `email.mjml` to `email.mjml.html` could still be backwards compatible with the current version of the gem, so that might need a bit more work. But please d

[2016-08-17 18:22] cerdiogenes commented on #3
I had an insight in how I could add HAML support and resolved to scratch the itch. The branch https://github.com/fnix/mjml-rails/tree/haml share the test database and have generators working for HAML and ERB.

@sighmon I would like that you review how I organized the code and if you have any comments so I can finish it and make a pull request.

Some points that I also would like to hear comments:

[2016-10-20 15:04] raulsann opened #7 "SSL ERROR"
This is the output when trying to install the gem.

`$> bundle install
Fetching https://github.com/sighmon/mjml-rails.git
Fetching source index from https://rubygems.org/
Could not verify the SSL certificate for https://rubygems.org/.
There is a chance you are experiencing a man-in-the-middle attack, but most likely your system doesn't have the CA certificates needed for verification. For informat

[2016-10-20 15:14] #7 closed

[2016-10-21 13:43] Uelb opened #8 "Mjml 3.0 is not compatible"
Problem with mjml version 3.0
The gem checks that mjml is set up to the ~2.0 version : https://github.com/sighmon/mjml-rails/blob/master/lib/mjml.rb#L11
However, there has been a release of the 3.0 version recently

[2016-10-22 04:59] sighmon commented on #8
@Uelb Thanks for the nudge.. I've updated it to support MJML 3.x now. :-)

[2016-10-22 04:59] #8 closed

[2016-10-24 23:30] raulsann opened #10 "Working locally but not in Heroku"
Hi,

We've followed the instructions by:
- adding the gem:
  `gem 'mjml-rails'`
- installing it
  `bundle install`

and creating the buildpacks. This is the output of `heroku buildpacks`:

[code]

It works great locally, but when trying to run it in heroku, it does not raise any error, it simply sends the email in mjml markup, without being interpreted.

Any leads about why the mjml markup is not

[2016-10-24 23:53] sighmon commented on #10
@raulsann I've just updated the gem to use MJML v3, is there a chance your ```package.json``` file hasn't been updated?

[code]

[2016-10-25 03:32] sighmon commented on #3
@manuelmeurer @cerdiogenes Does ```v2.4.0``` work for you with ```:haml```? @mswiszcz wrote a fix.

[2016-10-25 03:34] sighmon commented on #5
@jameslafa @cerdiogenes Is this fixed now with @tylerhunt 's register_alias fix in ```v2.4.0```

[2016-10-25 07:40] manuelmeurer commented on #3
Sorry, I'm not using MJML anymore...

[2016-10-25 09:07] jameslafa commented on #5
@sighmon I'll test it and let you know.
@tylerhunt thanks for the patch!

[2016-10-25 10:47] cerdiogenes commented on #3
I'm actually using my own gem: https://github.com/fnix/mjml-haml

I can't wait so much time for feedback :pensive:

[2016-10-26 00:09] sighmon commented on #3
@cerdiogenes No worries - sorry for the delay (I met a girl 😔).

[2016-11-23 18:12] bpatram commented on #4
I've run into this issue too in the current version (2.4.0).

It seems as though I need to name my mailer views and mailer layouts with the `.mjml.erb` file extension and my partials with just `.mjml`

[2016-11-24 01:28] mmahalwy commented on #4
@bpatram I dont understand. I been trying to do the same with layouts and the views, but no luck.

[2016-11-28 01:47] sighmon commented on #4
@bpatram @mmahalwy could you post some example code? Are you calling the partial like this?
[code]

[2016-11-30 14:31] bpatram commented on #4
@sighmon
Here is a very slimmed down version of my app setup
[code]

Email layout:
[code]

Email view:
[code]

Email partial:
[code]

[2016-12-01 00:45] sighmon commented on #4
@bpatram Interesting - and what's the output from MJML? Do you get a blank view rendered? Or errors?

I haven't tried the layout/view combination with MJML-rails, just view/partials so it'll be good to try and debug this.

[2016-12-06 20:48] bpatram commented on #4
@sighmon As far as I can tell, it does exactly what it's supposed to. The rendered html is correct. It's just odd in how the file extensions must be defined for views, layouts, and partials

[2016-12-07 11:54] renatodeleao opened #11 "<mj-hero> height bug"
Heys!
just setup `mjml-rails` on a blank rails project. I've copy pasted `<mj-hero>` component from the docs to test if everything was working and got this bug:

https://cl.ly/3R1z4437453g

some old school _delete refresh debugging_, realised that the problem is on the`line-height` attribute on `<mj-text>`.

After removing it, everything works as expected:
https://cl.ly/0E140A0t3a14

Full mjml cod

[2016-12-07 12:04] sighmon commented on #11
@renatodeleao Hmmm.. it looks okay here: https://mjml.io/try-it-live/Byte9_Hmg

So I'm wondering if you've got other default layouts trying to work their way in somehow. Could you try setting ```render :layout => false``` in your controller?

[code]

[2016-12-07 12:35] renatodeleao commented on #11
@sighmon Hey thanks for the fast reply.

No luck with the layout disabling.

Here's the generated markup if it helps.
[code]

¯\_(ツ)_/¯ And yeah I know it's weird since it's working fine on live version.

[2016-12-07 12:54] sighmon commented on #11
@renatodeleao Okay, so I did a paranoid test on the command line ```mjml test.mjml``` using the code from the online version, and it was broken there too. So it's an MJML issue, not an mjml-rails issue. See if the same thing happens on the command line for you, and then post your problem here: https://github.com/mjmlio/mjml/issues

A quick fix: ```npm uninstall -g mjml``` and then ```npm install -

[2016-12-07 13:08] renatodeleao commented on #11
@sighmon yup confirmed. Did same tests and can confirm it works as expected in 3.0.2 version!
Thanks for the help!

[2016-12-07 14:15] iRyusa commented on #11
Hi there !

Just a small update here, `line-height` supports now unitless values in 3.1. That's why it looks broken, adding a `px`to `mj-hero`'s `line-height` solve this :)

[2016-12-07 23:01] sighmon commented on #11
@renatodeleao @iRyusa Nice one, thanks!

[2016-12-07 23:01] #11 closed

[2017-01-09 11:23] jameslafa commented on #5
Sorry for the late reply. I've updated it and I don't have any problem anymore.
Thanks for the fix!

[2017-01-09 11:23] #5 closed

[2017-01-16 12:29] #3 closed

[2017-01-19 06:28] skunkworker opened #13 "Request out to google fonts for Ubuntu font necessary when using Webmock."
I ran into this issue when running tests that would send emails. I'm using webmock to stub out the requests and it seems like `mjml` pulls in the `Ubuntu` font from google fonts api. After spending some time on a strange error inside of `premailer-rails` I figured out what `mjml-rails` needed to get it working.
The following gist has a webmock response.
https://gist.github.com/skunkworker/c7d4cc06

[2017-01-20 04:06] sighmon commented on #13
@skunkworker Sorry, I don't have any experience with webmock. Might [VCR](https://github.com/vcr/vcr) do what you want?

[2017-01-21 03:27] skunkworker commented on #13
I got it working by stubbing out the request to use the ubuntu font. Is that a forced part of `mjml`?

[2017-01-21 05:40] sighmon commented on #13
@skunkworker looks like [it is](https://github.com/mjmlio/mjml/issues/216). But there are workarounds.

[2017-01-25 00:42] raderj89 opened #14 "Can't seem to handle files named .html.erb"
I'm experimenting with MJML, incorporating it into existing emails we have, just converting a couple partials to MJML so I don't have to convert everything to MJML at once. Some of our email view files end in .erb, and when I call `format.mjml`, it renders without any issue. However, some email views end in .html.erb, and calling `format.mjml` results in a `ActionView::Template::Error: Missing tem

[2017-02-10 00:13] sianglim opened #15 "Gem Load Error on Heroku review app"
Hi @sighmon,

I'm having an issue when deploying a branch to Heroku's review apps.

The key errors I see are:
`  Bundler::GemRequireError: There was an error while trying to load the gem 'mjml-rails'`
`Gem Load Error is: undefined method `chomp' for nil:NilClass`
`NoMethodError: undefined method `chomp' for nil:NilClass
`/tmp/.../.../vendor/bundle/ruby/2.1.0/gems/mjml-rails-2.4.1/lib/mjml.rb:25:in

[2017-02-11 00:28] sighmon commented on #15
@sianglim Are you sure ```npm``` is installing okay? Because ```npm bin``` is returning nil, which is why chomp is failing. So perhaps try some logging to see if any basic npm commands are running.

[2017-02-13 21:34] sianglim commented on #15
Thanks for taking the time to look into this @sighmon.

It turns out that heroku's `app.json` didn't have the nodejs buildpack added.

[2017-02-13 21:34] #15 closed

[2017-02-23 04:23] #10 closed

[2017-03-20 18:11] mvanduijker commented on #4
Could this be part of the documentation / readme how to create mails with a layout?

[2017-03-23 13:20] sighmon commented on #4
@mvanduijker Good idea.. added to the documentation.

[2017-03-28 13:44] kitsched opened #16 "Nothing renders from within Rails"
Whatever I do MJML-s won't render from Rails.

Ruby 2.3.0
Rails 4.2.4
MJML 3.3.0
mjml-rails 2.4.1

My mailer:
[code]
My view:
[code]
In the console I go:
[code]
As you can see the HTML output doesn't appear.

If from the command line I do:
[code]
It renders the HTML without problems.

I'm out of ideas.

[2017-03-29 12:22] kitsched commented on #16
OK, solved it myself. Pulled the gem, uncommented the puts with the mjml command that is run and drilled it down to something like:

[code]
Which I found to be [an error related to my Node.js version](https://github.com/mjmlio/mjml/issues/565). I incorrectly assumed from [this tutorial](https://blog.botreetechnologies.com/building-responsive-email-templates-using-mjml-in-rails-afb166a5aa1) that al

[2017-03-29 12:22] #16 closed

[2017-03-29 12:27] sighmon commented on #16
@kitsched ah yes - I just found out through a breaking Jenkins test that it was using Node.js 5, and so I upgraded to Node.js 7 and that seemed to fix that too.

[2017-03-31 00:44] ramaboo commented on #14
I have similar issues. The handling of templates in this gem is all wrong. For example something.mjml.slim should work so should something.mjml.slim.erb. Rails is supposed to chain templates where each one renders and passes it down the line. Somehow though this gem does not do that correctly. I have been fighting with it for awhile now :(

[2017-03-31 01:39] sighmon commented on #14
@raderj89 @ramaboo I'm short of time at the moment, so if either or both of you would like to propose a fix and submit a pull request that'd be great! :-)

[2017-06-01 20:21] pablocrivella commented on #14
Any updates about this issue?

[2017-06-02 05:22] sighmon commented on #14
@pablocrivella Could you post some sample code of your controller/mailers, views, where they sit in your filesystem, and the errors. Thanks!

[2017-06-02 07:36] pablocrivella commented on #14
I'm using it to style devise mailers, so my code is exactly like [this](https://github.com/sighmon/mjml-rails#sending-devise-user-emails).
I normally use `slim` on all my files, so i tried to make this:
[code]

But that throws an  exception

[2017-06-06 13:29] sighmon commented on #14
@pablocrivella have you tried without .slim? So just ```app/views/devise/mailer/reset_password_instructions.mjml``` but still using slim markup?

[2017-06-06 14:17] pablocrivella commented on #14
@sighmon haven't tried that, i'll do that and let you know.

[2017-06-21 14:52] apuntovanini opened #19 "Blank emails on production"
Hi,

can't find any solutions so far for this, hope you could have some ideas about it.
Our mjml powered emails work perfectly when we use deliver_later, come out empty when we use deliver_now.
If we try the same methods from console, everything works.

Everything works fine in development too, I thought it could be something related to envs, but I could find any references of envs in the gem, am

[2017-06-23 01:12] sighmon commented on #19
Hi @apuntovanini, I haven't used `deliver_now`, I still use `deliver`.

The only other time I've had an empty output was when I had a syntax error in my `.mjml` file resulting from some bad code I wrote in a partial.

Any chance you could throw together a bare bones app to show it failing on Heroku or similar?

[2017-06-28 10:50] apuntovanini commented on #19
Hi @sighmon,

unfortunately I can't work on a bare bones app, but I can leave some insights in case someone has the same problems. What's really strange is that deliver and deliver_now are equivalent in 4.2 https://apidock.com/rails/ActionMailer/MessageDelivery/deliver

As I said, emails work just fine with deliver_later, same template and same data, so I think it's not a syntax error with mjml. W

[2017-06-30 03:51] sighmon commented on #19
@apuntovanini that's strange that `deliver` and `deliver_now` are equivalent but show different behaviour for each of us. This leads me to believe there's something else interacting with your setup.

Glad you've got a workaround, and yes if it does come up again with anyone else we can investigate trying to setup a bare bones app to replicate the problem.

[2017-07-10 15:44] betodasilva commented on #4
Why am I getting those errors?
![screenshot from 2017-07-10 12-42-49](https://user-images.githubusercontent.com/17956938/28026798-8267be3c-656d-11e7-9f9c-ef45dd1abf8d.png)

[2017-07-11 10:33] sighmon commented on #4
@betodasilva how odd. Is the button link above it `<%=root_path%>` rendering okay?

Do you need to wrap it in [\<mj-raw\>](https://www.npmjs.com/package/mjml-raw) tags for some weird reason?

[2017-07-13 17:49] pjar commented on #19
We have probably a related issue. We use Rails 3 and we send emails with sidekiq background job. Most of the emails look fine but we have more and more being sent as blank. We host the app on Heroku.  If that happens we are able to just retrigger email delivery from heroku console and they are sent fine - with content.

Not sure yet how this gem works but it seems that sometimes lib is not able to

[2017-07-13 17:57] pjar commented on #19
@sighmon  Since `render` method is rescuing every thing https://github.com/sighmon/mjml-rails/blob/master/lib/mjml/parser.rb#L21 we will always get empty string on any error. We will probably make a fork to no escape things and raise to see what's the errror in such cases

[2017-07-13 21:36] pjar commented on #19
@sighmon so the error causing blank contents seems to be this one: `Errno::ENOENT: No such file or directory @ rb_sysopen - /tmp/out_DOLDRPYD.html`. Probably easy workaround is just to repeat rendering. I'm still not sure why this happens

[2017-07-14 01:00] sighmon commented on #19
@pjar so is this less related to the gem and more related to MJML itself?

[2017-07-14 07:03] pjar commented on #19
@sighmon blank emails are related directly to how render method handles exceptions. Those exceptions though, are probably not related to the gem. It might that MJML binary somehow returns proper exit code just before the temp output file is available. I've monkey patched the parser method to retry itself when an exception happens and made a simple test that showed it was enough. I'll try to create

[2017-08-18 16:13] ayb commented on #19
Just wanted to ask if anyone had any insight on this?

We're running into a similar issue but the opposite - using Rails 5.1 we are able to send fine with `deliver_now` but `deliver_later` is running into issues where our Resque environment can't find the MJML binary file.  It will either blow up with that error or send blank e-mails.

[2017-08-19 05:23] sighmon commented on #19
@ayb if you'd like to create a Rails skeleton project with tests that show it breaking that'd be great - then we can debug as a community and fix it. :-)

[2017-09-08 19:32] nelyj commented on #19
After many test, I found that the error (in my case) can produced because your node version is < 6.0

![screenshot 2017-09-08 16 07 36](https://user-images.githubusercontent.com/909395/30227880-bf66a5f0-94b1-11e7-9b57-f1425fadce1c.png)

I recommend you to check your node version.

After update my node version to 8.0 my emails rendered correctly.

Also if you can test the command, write this line o

[2017-09-10 19:33] Overload119 opened #21 "Cannot find MJML bin."
Opening this task early while I continue to debug:

[code]

[2017-09-10 19:36] Overload119 commented on #21
Just had to restart it I guess.

[2017-09-10 19:36] #21 closed

[2017-10-13 15:58] daaain commented on #19
Thanks a lot for this comment @nelyj, I just switched to the Debian based Ruby Docker image (after the Chromium / Chrome-driver package recently got broken in the Alpine one...) and had to realise that the Node version installed via `apt-get install nodejs` is version 4.

Using the method described [here](http://nodesource.com/blog/installing-node-js-8-tutorial-linux-via-package-manager/), ie addi

[2017-11-14 22:55] ryanwjackson commented on #4
I'm experiencing similar issues trying to use HAML for the layout.  I can get the layout `layout.mjml` but the actual template `account_summary.mjml`doesn't `yield` into the layout using `= yield`.

[2017-11-17 02:32] sighmon commented on #4
@ryanwjackson Any chance you could write a [test](https://github.com/sighmon/mjml-rails/tree/master/test) to confirm that issue so that we can fix it?

[2017-11-21 16:51] ryanwjackson commented on #4
@sighmon I'm actually having a hard time getting the bundle installed because of JSON gem issues.  That said, I see tests for partials, but is there a test for layouts?  I didn't see one, but could copy for HAML as well.

From the documentation, it also seems odd that the file extensions for layouts, views, & partials vary.  I am pretty sure I tried every permutation of `.html`, `.mjml`, `.haml` i

[2017-11-22 07:45] sighmon commented on #4
@ryanwjackson I agree about the oddity in file extensions, from memory that was inherited from the gem I forked to base this on.

I don't have the time to get my head into helping unfortunately (sorry!), but if you'd like to write a test or submit a pull-request that'd be great.

[2017-11-28 17:14] ryanwjackson commented on #4
@sighmon skipping past the extensions for now, I think I found the issue.  I haven't been able to write a test for it yet because of some `json` gem dependencies that aren't working on my machine.

Basically, if you have a layout and a view, when the handler tries to render the view (which it does before the layout), it complains because there's not `mjml` or `mj-body` tags at the root of the view

[2017-12-06 17:38] ruinunes commented on #14
In order to use haml templates, I've added an initializer file, specifying `template_language`:
[code]

This allows to deliver an email for a filename as `some_template.mjml`, using haml syntax. This is not very optimal, as code editors won't highlight the haml syntax by looking at the file extension.
Calling the `some_template.mjml.haml`, will highlight the haml syntax on an editor, but the email

[2018-01-11 23:11] caitlin opened #22 "No plain text version"
Normally with Rails, I can drop in both a `html.erb` and a `text.erb` template and it compiles into a multipart email with an HTML version and a plain text version.

I can't figure out how to include my plain text version in my emails with this. Is it not supported or am I missing a connection piece?

[2018-01-12 04:34] sighmon commented on #22
Hi @caitlin,
In my app I'm sending multipart emails with both HTML & plain text, the filenames are:
```signup_confirmation.mjml``` and ```signup_confirmation.text.erb```
Does that help/work for you?
Best, Simon.

[2018-01-22 23:56] caitlin commented on #22
Hi Simon,
Yeah, that helped! I had tried that (and all other variations of extensions), but I think my layout file was messing with it. Once I put the whole template in a mjml (with no layout), it started to pull in the plain text.

Thanks!

[2018-01-22 23:56] #22 closed

[2018-01-23 21:38] jipiboily opened #24 "Invalid mjml silently fails"
If you input invalid mjml, mjml-rails doesn't raise any error and just siltenly fails.

Example:

[code]

This doesn't render and returns nothing (nil or empty string, not sure, didn't check).

It would be relatively easy to catch MJMLError or something like that and raise when we get that from the external rendering through the npm module.

Thoughts?

[2018-01-26 07:55] sighmon commented on #22
@caitlin oh fantastic. If you can think of a way to improve the gem to make it work more closely to the way you expected it, please don't hesitate to make a pull request.

Best, Simon.

[2018-01-26 07:57] sighmon commented on #24
@jipiboily When I built this gem, `mjml` on the command line was failing silently too, so if they've introduced errors now and you can see an easy way to catch them and raise them in Rails, then please do add those changes.

[2018-01-31 13:51] jipiboily commented on #24
It looks like a bunch of errors are still silent.

If I dig into the code again or face silent errors I might tackle this. I don't have much free time right now, though.

[2018-01-31 23:10] sighmon commented on #24
@jipiboily No problems, thanks for checking it out. I'll leave this issue open for the future. :-)

[2018-03-07 00:04] Polidoro opened #25 "Library doesn't support MJML 4.x"
As far as I can tell this library doesn't support MJML 4.x, instead you get this error which is confusing:

Couldn't find the MJML binary.. have you run $ npm install mjml?

Can be fixed by installing mjml ^3.0 but it is worth mentioning in the docs or improving the error msg.

[2018-03-07 11:03] sighmon commented on #25
@Polidoro Sorry about that - @jipiboily had done all the hard work, but I was slow on pushing the changes.

`mjml-rails 4.0.0` should be with rubygems soon, let me know how that works for you, and if the documentation needs updating.

[2018-03-07 13:48] Polidoro commented on #25
Hey thanks for the prompt reply! Totally understandable, just wanted to get that error message somewhere that it might show up in search results in case someone else was having the same problem I was.

Thanks for the great library!

[2018-03-09 01:11] ggraca opened #26 "Inline styling not being applied in heroku"
I have some emails made with mjml that worked well in the dev setup but when we deployed to heroku they lost some of the styles.

Narrowing it down, I noticed that only the ones declared under `<mj-style inline="inline">` were missing. All of the mjml got translated along with its default styles (for columns and tables for example)

This, for example, would change the element color in dev but not

[2018-03-09 06:10] sighmon commented on #26
@ggraca Could you confirm the versions of MJML installed on your dev machine and heroku?

Locally:
`$ MJML --version`

Heroku:
`$ heroku run shell`
`heroku$ cd node_modules`
`heroku$ mjml-cli --version`

[2018-03-09 11:05] ggraca commented on #26
@sighmon both 3.3.5

[2018-03-11 01:08] sighmon commented on #26
@ggraca It shouldn't matter, but does it help if you add the trailing semi-colon? I haven't come across anything like this sorry.

[code]

[2018-03-15 18:13] ggraca commented on #26
@sighmon i don't think it matters. I tested with some different snippets and before that we were working with our whole css but, when pushing to heroku, none of the styles showed either way.

[code]

We ended up upgrading to the latest version and it seems to work fine :muscle:.
Thanks anyway. Should I close this?

[2018-03-16 00:17] sighmon commented on #26
@ggraca Glad the latest version worked. Hopefully it was an underlying bug in MJML and won't show up again. Yeah, close this one.

[2018-03-16 11:37] #26 closed

[2018-04-03 11:54] tomasmcm opened #28 "Minification of output files"
Mjml cli allows files to be minified automatically using `--config.beautify false --config.minify true`. The defaults are `--config.beautify true --config.minify false`.

Can you add a config option to the gem so that it is possible to change the default to minify the output?

[2018-04-03 12:39] sighmon commented on #28
@tomasmcm sounds good. I don't have dev time for it now, would you like to submit a pull request?

[2018-04-03 12:39] #25 closed

[2018-04-03 12:42] sighmon commented on #24
@jipiboily solved by https://github.com/sighmon/mjml-rails/pull/27

[2018-04-03 12:42] #24 closed

[2018-05-05 08:58] sighmon commented on #25
Added a better error message that includes the MJML binary version that's expected, see this commit: d44138baa829bdf079ead586f086fd5ea15dc28b

[2018-05-17 09:33] srghma commented on #4
layout example with `= yield` doesn't work for me too

mjml-rails (4.0.2)
rails (5.1.5)

[2018-05-23 09:57] sighmon commented on #4
@srghma Try updating MJML to v4.0.5 and let me know how you go.

[2018-05-23 10:07] srghma commented on #4
@sighmon its not working with 4.0.5 as I remember and the problem is in how ActionVeiw is working (I even tried to do something https://github.com/srghma/mjml-rails/tree/render_with_block)

I ended up making my own gem https://github.com/srghma/mjml-premailer

[2018-05-28 11:56] sighmon commented on #4
@srghma Thanks for trying! I'll pop a reference to your gem in the README.

[2018-05-28 12:47] srghma commented on #4
@sighmon tnx buddy!

[2018-06-19 19:53] aleksandrs-ledovskis commented on #4
@sighmon Could you please correct README not to include layout-based example which doesn't work?

[2018-07-02 13:52] alebacca89 opened #32 "support for mjml 4.1.0"
The last version of mjml is 4.1.0 but mjml-rails not recognise this bin.
If I install mjml 4.0.0 with npm, npm install 4.1.0. (npm install mjml@4.0.0)
If I use mjml-rails setup in a initializer and I put

Mjml.setup do |config|
  config.mjml_binary_version_supported = "4.1."
end

not works.

[2018-07-03 12:04] sighmon commented on #32
@alebacca89 did you mean to put this in the config:

[code]

[2018-07-03 19:36] bonekost commented on #19
Hey, we got same problem on production.
Mails just render empty string which is from `Mjml::Parser`
I debug whole thing and found out that
[code]
return error:
[code]
but I have no idea how to fix it and what error means. Any advice?
Thanks

[2018-07-06 16:06] milgner commented on #4
Why is this issue closed? Breaking the layout mechanism is a major issue in any Rails application.

[2018-07-06 17:45] aleksandrs-ledovskis commented on #4
Can confirm @milgner findings.  For layout/templates to work **only** layout files must end with `.mjml` proper.

This quirk is caused by Rails rendering logic that processes files ending with `.mjml` by `mjml` JS library and combines it with layout's MJML code - consequently any `yield`ed HTML code, not residing within `mj-text` is lost.

[2018-07-07 02:51] sighmon commented on #4
@milgner Thanks so much for looking into it. So is the documentation currently correct? At the moment is shows a Layout named: `` with a View named: `` and a Partial named: ``

Should that Partial also be named: ``?

@aleksandrs-ledovskis Any ideas for avoiding the quirk in this gem?

[2018-07-07 11:47] aleksandrs-ledovskis commented on #4
@sighmon As I see it, Rails convention of having views in `foobar.FORMAT.HANDLER` is not adhered to when following examples/tests in `mjml-rails`.

In my opinion, structure of email views should be following:

- Layout: `views/layouts/default.html.mjml` (**format** is HTML, as it makes no sense to render plaintext via MJML; **handler** is MJML, this must be the _only file_ in rendering chain that

[2018-07-08 05:14] sighmon commented on #4
@aleksandrs-ledovskis That's brilliant - thank you so much for the patch. I've pushed it to Rubygems now, so should be live soon.

@milgner et all - does that work for you too?

[2018-07-10 13:23] aleksandrs-ledovskis opened #34 "Problem processing non-ERB (Haml, Slim) layouts"
In https://github.com/sighmon/mjml-rails/pull/33 / v4.2.0 a [change in logic](https://github.com/sighmon/mjml-rails/pull/33/files#diff-694a2aceb95a532b862cfae14a75287fR52) was made around assumption that layout template will always contain verbatim `<mjml>`.

In ERb world this (mostly) holds, but when layout is composed using advanced templating languages like Haml and Slim, both allowing tag defi

[2018-07-11 08:44] sighmon commented on #34
@aleksandrs-ledovskis I haven't used Haml or Slim, so will take your recommendation for the best way forward.

3. sounds like a pretty decent way forward to me if it's similar to how Asset Pipeline compilation handles things.

But again, please use your best judgement. :-)

[2018-07-12 12:10] joeczucha opened #35 "Couldn't find the MJML 4.0. binary"
Hi folks,

I'm having a bit of trouble getting the library to detect my MJML 4.0. binary. I installed MJML globally, using Yarn and I am using `gem 'mjml-rails', '~> 4.0.0'`

    $ mjml -V
    mjml-core: 4.1.0
    mjml-cli: 4.1.0

    $ which mjml
    /usr/local/bin/mjml

    $ rails c
    Running via Spring preloader in process 24555
    Loading development environment (Rails 5.1.3)
    [1] pry(m

[2018-07-12 12:12] joeczucha commented on #35
Ah, just like that I solved my own issue 👍

For future Googlers: you should ensure that the gem version matches the mjml version. In my case, I should have been using: `gem 'mjml-rails', '~> 4.1.0'`

All working now!

[2018-07-12 12:12] #35 closed

[2018-07-20 08:23] biastoch2 commented on #32
Same problem here, when I install mjml@4.0.5, `mjml --version` gives me 4.1.1
Seems like an old issue, see https://github.com/mjmlio/mjml/issues/371

Setting `mjml_binary_version_supported` does not help neither.

[2018-07-20 08:51] sighmon commented on #32
@biastoch2 are you installing it locally or globally? try `npm install -g mjml@4.0.5` and then let me know what `mjml --version` gives you.

[2018-07-20 08:59] biastoch2 commented on #32
I tried both, locally and globally, as well as uninstalling, force cleaning the npm cache and reinstalling mjml. Always `mjml --version` gives
[code]
I also tried installing `mjml-core@4.0.5` and `mjml-cli@4.0.5` but still 4.1.1.

[2018-07-20 16:05] biastoch2 commented on #32
No luck, there is no version-attribute in the `package.json` present, such that `npm install mjmlio/mjml#v4.0.5` (which installs mjml directely from github) fails with:
`npm ERR! Can't install github:mjmlio/mjml#ecfb19d227f232a29b7f4059849f3aa01ce22386: Missing package version`.

[2018-07-20 16:42] biastoch2 commented on #32
I was able to get mjml back to work using the master-branch of `mjml-rails` in my Gemfile. The master branch uses mjml in version `4.1.`, but when `bundle install`, rails pulls the latest version of `mjml-rails`, which is 4.0, which references mjml `4.0.`, which is due to the described bug of mjml currently not installable. A new release of `mjml-rails` would temporarily fix this problem until the

[2018-07-21 10:31] sighmon commented on #32
@biastoch2 I don't think I understand your problem - the latest version of `mjml-rails` in Rubygems is [4.2.0](https://rubygems.org/gems/mjml-rails/versions/4.2.0). Does it update to `4.2.0` when you do a `bundle update`?

[2018-07-31 12:32] jbwl commented on #34
For the time being the documentation should contain a hint that other template languages than ERB are currently broken.

[2018-08-03 00:12] sighmon commented on #34
@biastoch2 @jbwl would your favoured solutions be to change `if template.source =~ /<mjml>/` to `if compiled_source =~ /<mjml>/` as you've done in your fork @biatoch2 ?

[2018-08-03 08:51] jbwl commented on #34
I tried the fix from @biatoch2 and it works for me. I'd vote for it.

[2018-08-17 16:05] pbougie opened #36 "Version 4.2.0 breaks email rendering"
My setup includes email templates, partials, and layouts. Using version 4.1.0, everything renders beautifully. Update to version 4.2.0 (or 4.2.1) and all the files are loading correctly but the MJML does not render into HTML.

I've tried renaming the files as described in the new README but it doesn't help. Tried different variations but nothing worked. Either the template is not found or the MJML

[2018-08-18 07:07] sighmon commented on #36
I'm afk, but you definitely don't have any `mj-container` tags in your MJML files?

[2018-08-18 12:09] pbougie commented on #36
No, I don't have any `mj-container` tags in my MJML files.

[2018-08-22 10:41] sighmon commented on #36
@pbougie in the [new tests](https://github.com/sighmon/mjml-rails/blob/master/test/mjml_test.rb#L4), @aleksandrs-ledovskis includes this line:
[code]

Does that help your missing templates issue?

Could you write a new test using your layout names and structure that fails?

[2018-08-23 13:00] pbougie commented on #36
I don't have a missing templates issue. In the example above, the templates are found but the MJML is not rendered. I end up with little formatting and a bunch of CSS with my text. If I inspect the code, I see a bunch of `mj-*` tags.

[2018-08-23 23:56] sighmon commented on #36
@pbougie Re: #34 do you have the `<mjml>` root tag outside of your layout file?

[2018-08-24 14:08] pbougie commented on #36
No, the `<mjml>` tag is in my layout file.

[2018-08-26 01:08] sighmon commented on #36
@pbougie and if you create a simple non-layout based template, does it render okay?

[2018-08-26 12:51] pbougie commented on #36
I removed the layout and partials, and unfortunately I'm getting the same result.

[2018-08-26 14:08] pbougie commented on #36
I've created a test project that you can fork: https://github.com/pbougie/mjml-rails-test

[2018-08-29 11:58] sighmon commented on #36
@pbougie Awesome thanks. It's the `owa="desktop"` in your `<mjml>` tag that's breaking things.

The bug was introduced here:
https://github.com/sighmon/mjml-rails/commit/dba64199dced5ba72cc3bc7b34973425b3aaf5a8#diff-694a2aceb95a532b862cfae14a75287f

Would you like to propose a fix and submit a pull request?

[2018-08-29 12:12] #32 closed

[2018-08-29 15:37] pbougie commented on #36
@sighmon I thought I had tried removing that attribute when I was trying various scenarios. Guess not. I've created a pull request: #38

[2018-09-01 08:39] sighmon commented on #36
@pbougie Brilliant, thank you for persisting! I've merged that in now and pushed a new version.

[2018-09-01 08:40] sighmon commented on #32
Wondering if this was related to https://github.com/sighmon/mjml-rails/issues/36#issuecomment-416926743

[2018-09-01 08:46] #13 closed

[2018-09-01 08:47] #14 closed

[2018-09-01 08:47] #19 closed

[2018-09-01 16:29] pbougie commented on #36
@sighmon Thanks!

[2018-09-01 16:29] #36 closed

[2018-10-08 17:33] pbougie opened #39 "Changing binary version does not work"
Changing the binary version in a Rails initializer like...

[code]
...does not work. The initializer is loaded too late. Mjml::BIN is computed earlier. I was able to override it by doing the following in my initializer after setup:

[code]
However, the error messages remain when loading the app.

[2018-10-10 16:33] jbwl commented on #39
Thank you for this. My production app kept breaking because of not finding the binary

[2018-10-11 14:32] donni106 commented on #39
Thanks for this workaround.
I made a PR (#40) to address this problem.

Should there be more logic in setting the binary version to support different mjml version at the same time? Or is it ok for users to fix the mjml-rails gem version, if they want to use an older binary?

[2018-10-11 14:51] pbougie commented on #39
I suppose I've been wondering why there is a version check in the first place. Is there a technical reason for this? Shouldn't it be up to each developer to choose their version? Maybe the version check should be less restrictive, i.e. "4." instead of "4.1."?

[2018-10-11 14:54] donni106 commented on #39
Yes, I also think it should be a valid option to use the latest gem version but addressing an older binary for example.

[2018-10-11 22:49] sighmon commented on #39
@pbougie The reason for the version check is that there was a syntax breaking update between 4.0. and 4.1. but now that we're another point release up, I think the less restrictive check sounds fair.

@donni106 Thanks for the PR - I think we might set `@@mjml_binary_version_supported = "4."` - so I'll close your pull request, but please do submit another in the future. :-)

I'll push out an update

[2018-10-11 23:00] sighmon commented on #39
@pbougie @donni106 does this look okay to you both? https://github.com/sighmon/mjml-rails/commit/d9f8ce38d2a2e5a3bb57ab109e959a597c316fee

[2018-10-11 23:10] pbougie commented on #39
@sighmon The less restrictive version check sounds good.

Unfortunately, the `Mjml::BIN = Mjml.discover_mjml_bin` fix was meant to be temporary to keep my app running but it constantly emits errors (although I will be able to remove it with the less restrictive version check but should probably be refactored for the future):

[code]

[2018-10-11 23:32] pbougie commented on #39
@sighmon Get rid of the `BIN` constant. What about changing `Mjml::Parser.mjml_bin` to `Mjml.discover_mjml_bin`? This way the path is lazy loaded. I think this will fix the Rails initializer configutation for `mjml_binary_version_supported` as well.

[2018-10-12 01:59] sighmon commented on #39
@pbougie I quite like that the `BIN` is a constant from a security perspective, in that it'll warn you if any other initialiser tries to change the binary being run.

I was trying to think of a long-term use case for specifying a different binary too - perhaps the persistent warnings are a good thing?

[2018-10-12 02:47] pbougie commented on #39
@sighmon Perhaps now that only the major version is required. However, if that's the case then the `mjml_binary_version_supported` configuration option should be removed because it doesn't work.

Although I'm still not sure there should be a version check altogether. Shouldn't it be up to the user to use the version they want? I found myself with a major bug earlier this week where I simply could

[2018-10-12 09:37] donni106 commented on #39
This is the same reason I came here. The mjml package 4.1.2 has all the dependencies with `^4.1.2` which updated minor release and not only patch versions. If it had be `~4.1.2` the problem with updating to 4.2.0 would never been raised. Maybe we have to report this to the package owner?
Otherwise as mjml-rails is not an official gem by mjml, they are not responsible for such issues.

[2018-10-13 03:49] sighmon commented on #28
Fixed by @mandyhuang 👍

[2018-10-13 03:49] #28 closed

[2018-10-13 04:10] sighmon commented on #39
@pbougie A warning sounds like a good way to go.

@donni106 I'm not quite sure I'm following you here:

When I try and install an older version of MJML with `npm install -g mjml@4.1.2` it says it has, but then `mjml --version` gives `4.2.0`. Yet when I check `/usr/local/lib/node_modules/mjml/package.json` it lists the dependencies as `^4.1.2` correctly. So is this the bug that you're wanting to re

[2018-10-31 17:17] essalorz opened #43 ""No such file or directory - npm (Errno::ENOENT)""
Hi,
I've got a particularly  frustrating error: I can't run my Rails app from RubyMine because I get:
"/home/###/.rbenv/versions/2.4.4/lib/ruby/gems/2.4.0/gems/mjml-rails-4.2.4/lib/mjml.rb:29:in ``': No such file or directory - npm (Errno::ENOENT)"

If I launch in terminal the command "npm bin", I get "/home/####/myproject/node_modules/.bin"
I don't understand why `npm bin` would fail

npm version

[2018-11-03 05:47] sighmon commented on #43
@essalorz Sorry, I don't have any background using Rbenv or RubyMine, so probably can't help. It doesn't happen to be because ~/.rbenv/shims is before /usr/local/bin in your PATH? https://github.com/rbenv/rbenv/issues/187

[2018-11-06 09:50] essalorz commented on #43
Hi! Thanks for your input
It was indeed a PATH issue, as RubyMine setups its own depending on how it is launched

[2018-11-06 09:50] #43 closed

[2018-11-14 10:48] voordev opened #44 "rails mailer previews render as text with mjml tags"
When making /rails/mailers previews with option for mjml and failback text format rendering.
The rendered text/plaintext format emails show the mjml tags and not just the text.

[2018-11-14 11:06] sighmon commented on #44
@voordev do you have any example code or an example repository showing the bug?

[2018-11-14 13:51] jitinmaher opened #45 "Variables with html attributes inside *.mjml.erb"
**Do you want to request a *feature* or report a *bug*?**
Bug

**Issue description**
We recently upgraded our package `mjml-rails` from `2.4.1` to `4.2.4` and `mjml` npm dependency from `3.3.3` to `4.2.0`. We have a function `convertToSpanish` which accepts `name` variable, the variable is supposed to be bold so its wrapped with `<strong></strong>` attribute. With the latest upgrade the output ema

[2018-11-18 12:14] sighmon commented on #45
@jitinmaher could you try naming your file `*.html.mjml` and let me know if that helps?

[2018-12-02 14:10] memoht commented on #39
I'm curious about this thread. Yesterday after pushing out an update that include an update in `package.json` from node `^10.9.0` to node `^11.1.0`, ALL Mjml emails stopped rendering so I blank emails were going out. Reading this [thread](https://github.com/mjmlio/mjml/issues/1442) led me to rollback to the older version of node as well as use a previous `yarn.lock` file to get emails rendering ag

[2018-12-02 16:45] memoht commented on #39
I ended up adding `config.raise_render_exception = true` to my `mjml.rb` initializer and that revealed
[code]
So upon further investigation, I removed the `<mj-container>` which was wrapped around `<%= yield %>` and the emails started rendering again. It was the update from `4.1.2` to `4.2.1` for me that revealed this. I will have to read through the docs and see why this was an issue.

[2018-12-14 01:30] kapso opened #46 "MJML syntax issues"
I am getting these errors, even though the MJML docs don't mention any of these restrictions. These errors started showing up after I upgraded JS library `4.1.1` => `4.2.1`

[code]

Versions:
- mjml-rails (4.2.4) [Gemfile]
- "mjml": "4.2.1" [package.json]

Errors:
[code]

mjml-rails (4.2.4)

[2018-12-14 03:40] sighmon commented on #46
@kapso Those are related to MJML changes. See their release notes: https://github.com/mjmlio/mjml/releases

[2018-12-14 04:46] kapso commented on #46
Thats interesting. What I am curious is my code has now completely stopped working, even after I rolled back to MJML v4.1.1. It started breaking after 4.1.1 => 4.2.1 upgrade, so I rolled back, but no luck. Do you think this still a MJML lib issue?

[2018-12-14 05:53] sighmon commented on #46
@kapso I couldn't get my MJML lib back to an older version once I'd upgraded, so I had to run with it. See #39.

Do you still have an `<mj-container>` in your mjml? The change to >= 4.2.1 forced removal of that from memory.

[2018-12-14 07:48] kapso commented on #46
No I am not using any `<mj-container>`

[2018-12-14 20:33] kapso commented on #46
Closing this issue, you are right no way to rollback the MJML version. I will work on fixing the MJML syntax issues. Thanks for the quick responses and your work on this gem 👍

[2018-12-14 20:33] #46 closed

[2018-12-19 09:33] voordev commented on #45
we have the same issue.
MJML output is rendered to the format.text mails.

[2018-12-19 09:35] voordev commented on #44
@DaddyWozBucks
I Currently use

```layout "mailer" ```
Does specifying the full filename to the layout file works but like my example not?

[2018-12-19 09:49] voordev opened #47 "Rails Devise mailer does not work with mjml"
Devise for Rails does not work with mjml.
The problem is it always tries the load the MJML format even when specifying format.text only!

this is my ApplicationMailer
[code]

This is DeviseMailer which is subclassed from the ApplicationMailer

[code]

So even with the format.text it will NOT load the mailer.text.erb layout file.
Instead it tries to load the mailer.html.mjml layout file.

This mail

[2019-01-19 16:52] voordev commented on #47
Above suggestions resolved the issues. Thank you.

[2019-01-19 16:52] #47 closed

[2019-01-19 16:53] #44 closed

[2019-01-22 09:30] pareeohnos opened #48 "Support for mj-include tags"
Not sure if this is actually possible within rails as it may be related more to how rails processes templates than with the gem itself, but I was wondering if it was possible to fully support the `mj-include` tag within views.

The gem provides the usual rails ability to use an email layout and `yield` the individual mail templates which is great, however I'm using an extension for Visual Studio C

[2019-01-23 11:19] sighmon commented on #48
@pareeohnos Sounds like a cool idea. Do you have a sample repo with the problem you could push somewhere? Could you use [mj-raw](https://mjml.io/documentation/#mjml-raw) for it? Sounds like it would be better solved in the VSCode extension... is it similar enough to this one? https://github.com/attilabuti/vscode-mjml/issues/55

[2019-01-23 11:22] pareeohnos commented on #48
I don't currently but I'm sure I could put something together for it. I can ask the dev of the VSCode project, but I didn't have any issues with that when using `mj-include` (apart from what is described in that issue). How would you invisage using `mj-raw`, not quite sure I follow?

[2019-01-23 11:32] sighmon commented on #48
@pareeohnos not at all... my brain just works best when there's code to dig into.

[2019-01-23 12:08] pareeohnos commented on #48
@sighmon yeah I'm much the same, code is a lot easier to follow. I've put an example here https://github.com/pareeohnos/mjml-vscode-issue

I couldn't get it to produce the error messages for some reason but the issue itself is still visible. If you install the vscode extension and open the `app/views/mjml_mailer/foobar.mjml` and then load the preview, you should see the preview with 2 bits of text

[2019-01-27 06:45] sighmon commented on #48
@pareeohnos I get the feeling we might need to solve it in a similar way to: https://github.com/mjmlio/mjml#inside-nodejs

And hand in a `--config.filePath`. I've run out of time today, but if you'd like to have a further look into it that'd be great.

[2019-01-27 10:07] pareeohnos commented on #48
@sighmon I've got the same versions as you, should all be the latest I think.
Yeah I can see that working but wouldn't it be dependent on where the files are put when they get processed? In the error you pasted above it seems the files are getting moved into some temporary location for processing. Is this done by `mjm-rails` or is this just how rails handles views? That said, as long as the folder

[2019-02-09 03:46] sighmon commented on #48
@pareeohnos I'm not going to get to work on this for a little while - did you want to put together a pull request?

[2019-02-11 09:09] pareeohnos commented on #48
Sure no problem, I'll see if I can find some time to put something together but it might also be a while. I'm not currently working on this part of our system as I just got it working using normal rails layouts so will need to refactor and try it again at some point

[2019-03-26 09:32] nono commented on #39
Just an idea: the CLI version of mjml doesn't support custom components yet, so using a different binary can be a way to load custom components.

[2019-03-28 17:37] joshkestenberg opened #49 "followed all steps for heroku but still getting missing binary message."
I followed the Heroku instructions by adding the node buildpack and package.json but I'm still seeing a message about an unfound binary.

My package.json reads:

{
  "name": "appname",
  "version": "1.0.0",
  "dependencies": {
    "mjml": "^4.0.0"
  }
}

and there is no error thrown in the node build, but I still see:

"Couldn't find the MJML binary.. have you run $ npm install mjml? "

when initi

[2019-03-28 19:05] joshkestenberg commented on #49
hmm.. even locally when I do execute `npm install mjml` I seem to get that same message.

[2019-03-28 23:14] sighmon commented on #49
@joshkestenberg perhaps try the latest version in `package.json`:

[code]

I don't have a lot of experience with npm either, but maybe try installing it globally with `npm install -g mjml` and then test that you can access mjml on the command line in your rails directory with `mjml --version`.

[2019-03-29 13:41] joshkestenberg commented on #49
I tried both updating `package.json` and global install, and the outcome hasn't changed. `mjml --version` yields:
[code]
I appreciate the help. I'll wait til I actually start using the library to see whether or not the message I'm receiving is actually an indication that it's not working, or just a bug in and of itself.

[2019-03-30 03:24] sighmon commented on #49
@joshkestenberg Ah, you're on the beta - I wonder if `io.read.include?` works for a beta tag like that. https://github.com/sighmon/mjml-rails/blob/master/lib/mjml.rb#L18

[2019-03-30 03:38] sighmon commented on #49
@joshkestenberg I tried it on the command line... maybe you can try this too and see if it works for you:

[code]

To simulate it I used:

[code]

So it still seems as though your Ruby environment can't see `mjml` at all.

[2019-05-20 16:12] lopesrb opened #52 "pre render mjml"
Hey guys,
this might be a stupid question and if so feel free to close this.

I was wondering if there was a way to pre-render the mjml to html so we are not always rendering mjml to erb  and erb to html. This way we would pre render mjml to erb and then when we wanted to send the email we would render the erb to html.

Some kind of caching mechanism

[2019-05-25 02:44] sighmon commented on #52
@lopesrb what kind of use case are you thinking?

[2019-06-05 11:15] tobsch commented on #52
I also thought about that. If you send high amounts of emails Mjml quickly became the bottleneck here.
Is erb rendering happening AFTER or BEFORE Mjml?
If it is happening after Mjml it might be more realistic...

[2019-06-05 11:19] lopesrb commented on #52
@sighmon I just want to reduce email sending times on my project.
If I am not mistaken we are rendering mjml everytime we send an email and probably we just need to do it one time after every modification, right?

[2019-06-07 06:44] sighmon commented on #52
@tobsch @lopesrb I've never had the need to do mass sending from my server, I've always used other services that handle the unsubscribes and deduplicating from multiple subscribe places.

It's been a while since the last refactor of the codebase, so I honestly can't remember the order. I won't get to this for a little while, but please feel free to put together a pull request if you have the time.

[2019-06-26 01:31] imgarylai commented on #43
I got the same issue when I deploy my service to heroku. I have followed the instruction to set up all the buildpacks on heroku, but still get this message:
[code]

[2019-06-26 02:02] imgarylai commented on #43
I found out the issue. This error was from Heroku CI testing environment. I should also specify the buildpack for the test environment as well.

[2019-10-16 10:46] renatodeleao opened #56 "Create and register custom components"
Heys! thanks to the community for the work on this 🙏

This is a question, more than an issue. I was wondering how can we [register](https://gist.github.com/ngarnier/455b0e8a425315bd9f2502ed84bc246e#file-registercomponent-js) `mjml` [custom components](https://medium.com/mjml-making-responsive-email-easy/tutorial-creating-your-own-component-with-mjml-4-1c0e84e97b36) using this setup?

I know that s

[2019-10-16 13:43] Renjaminino commented on #56
That's a good point Renato.

I'm curious how that might be done.  I know that if you run mjml in isolation, you can still import the content / partials, as long as the versions are the same.  In theory you could import a deprecated mjml product into a ruby environment but it might give you compatibility warnings during compilation.

I need to actually try this myself, but once the controller in ra

[2019-10-17 11:16] sighmon commented on #56
@renatodeleao @Renjaminino I've never needed to build my own custom components, so I'm not going to be much help. But look forward to your pull request.

[2019-10-18 15:19] renatodeleao commented on #56
@Renjaminino thanks for the reply. @sighmon here's some extra info.

Again not the most avid Rails/ruby dev so take this with a pinch of salt, but I don't see this belonging the controller responsability.

What i meant with `custom-components` are actually extensions of the `mjml` markup language, which is already possible with the js/node library. ( I've referenced the links the issue description

[2019-10-26 04:56] dyanagi opened #57 "Using Email Layouts in Rails 6.0.0 (with a sample application)"
Hi, thank you for creating this great gem!

I faced an issue with using default layouts while using this gem in Rails 6.0.0.

I followed this section with Rails 6, but my MJML tags weren't compiled into HTML.

https://github.com/sighmon/mjml-rails#using-email-layouts

Screenshot:

![image](https://user-images.githubusercontent.com/6637846/67614355-81f18e00-f770-11e9-9cc3-d3cae1c43c40.png)

My work

[2019-11-08 03:52] sighmon commented on #57
@dyanagi Sorry for the delay in getting back to you. I've had a play with your repo and forked it with some other options for setting up the user mailer: https://github.com/sighmon/example_mjml_rails/commit/a22b184c0b2e0c2eaf7a87cf35a3ded82da2f011

How does that look to you?

[2019-11-09 02:10] dyanagi commented on #57
@sighmon Thank you! I appreciate it. I understand the main cause of this issue.

The code below didn't compile MJML tags because `mailer.html.erb` took the priority to be the default layout for the UserMailer. ( `mailer.html.mjml` wasn't used. )

[code]

I removed `mailer.html.erb` and now MJML tags are compiled.

Could you take a look at this pull request to see if the changes look good?
https://

[2019-11-10 05:14] sighmon commented on #57
@dyanagi That looks great to me. Would you like to put in a PR with the changes to the documentation you'd like?

[2019-11-11 04:00] dyanagi commented on #57
@sighmon Thanks! Sure, I'll work on it!

[2019-11-15 00:56] dyanagi commented on #57
@sighmon Thanks for reviewing and merging it, Simon! I'm closing this issue.

[2019-11-15 00:56] #57 closed

[2019-11-19 08:03] pmackay commented on #39
May I check, is there any clearer solution to resolving this issue? It would be great to clean up the warnings mentioned [above](https://github.com/sighmon/mjml-rails/issues/39#issuecomment-429151908).

[2019-11-21 10:42] sighmon commented on #39
@pmackay Could you make a tiny app to show how you're hitting that? It's been a long time since this thread. :-)

[2020-04-04 03:18] sighmon opened #61 "Tests fail randomly"
- [x] Fix random test failures: https://travis-ci.org/github/sighmon/mjml-rails/builds/670834507

Seems to always fail on https://github.com/sighmon/mjml-rails/blob/master/test/parser_test.rb#L43

[code]

To replicate:

* Run `rake test` 10 times and see how many fail: `for run in {1..10}; do rake test; done`
* I'm seeing ~3/10 failures

[2020-09-10 12:49] f-mer commented on #61
Hay there :wave:

The test seems to fail randomly because it is order-dependent.
If the "use setup config' test is executed before the "use defaults if no config is set" test it will fail because `Mjml.beautify` is a global variable and it's not reset to `true` within the test case.

You can observe this behaviour locally by specifying the seed on test execution: `rake test SEED=2185`.

Thanks a l

[2020-09-12 03:41] sighmon commented on #61
@f-mer That makes sense, thank you! I was thinking of reloading the lib before the failing test, but is there a better way to do that to avoid the warnings about previously defined methods/constants?

[code]

Outputs:

[code]

[2020-09-14 18:50] f-mer commented on #61
I think a good way to go about this is to move configuration into its own class. I've opened a merge request :slightly_smiling_face:

In the current state it breaks backwards compatibility but we could delegate all properties to the configuration object :thinking: But I think a better way would be dropping direct access to configuration properties via `Mjml`.

Instead of reloading the whole librar

[2020-09-15 18:31] liamelliott opened #63 "Yarn bin command no longer functions as it is used in lib/mjml.rb"
Running `yarn bin` as used in the lib/mjml.rb file no longer returns a bin directory, but a list of available binaries. In newer versions of Yarn, you must run `yarn bin mjml` to get a direct path to the binary. I'll take this as a PR if nobody else is able to.

[2020-09-16 08:28] sighmon commented on #63
@liamelliott That'd be great if you could, and keep it backwards compatible for older versions of `yarn` too.

[2020-09-16 19:27] liamelliott commented on #63
Sweet! I'll try and get on that this week sometime.

[2020-09-23 11:25] #61 closed

[2020-09-25 22:06] bjliu opened #65 "mjml-rails seems to be incompatible with mjml 4.7.0"
Recently, MJML released a new version, 4.7.0.

mjml-rails was working fine for us until that point, but after the update, this line began to throw some errors (in a file called `_header.html.mjml `).

[code]

MJML for some reason doesn't recognize the `%` unit and adds `px`, causing failures.

[code]

Could anyone give any direction as to why this may be an issue?

[2020-09-26 03:10] sighmon commented on #65
@bjliu Have you tried [validating](https://mjml.io/documentation/#in-cli) your templates via the CLI to check if its a bug in this gem or with `mjml` itself?

`mjml --validate template.mjml`

[2020-10-19 19:42] nratter commented on #52
Performance with mjml-rails when sending a lot of emails at once has been a problem in our application. I agree it would be better to run mjml to build .html.erb files upon deployment so Rails can use that as opposed to running mjml upon sending.

What you guys think?

Maybe I can just fork what you guys have done here (with layouts and such) to modify for my specific use case.

[2020-10-21 10:01] sighmon commented on #52
@nratter I'm keen to see what changes you make to `mjml-rails` as opposed to baking it into your Rails app, so post back here to keep us updated. :-)

[2020-11-18 21:14] doits commented on #63
I think I fixed it by using `yarn run mjml` when installed with yarn in #66 – I think this is the proper way to run binaries by yarn anyway and with it it should work with yarn v2, too.

[2020-11-22 05:19] #63 closed

[2020-11-26 20:53] denny opened #68 "Change in error raising behaviour"
Hi,

I'm seeing a change in error-raising behaviour between 4.4.0 and 4.4.1, and looking at the code I think it may be a bug in the Parser.run method - specifically where it decides whether to raise an exception for an invalid MJML input file:
https://github.com/sighmon/mjml-rails/commit/063152ce6dbc7ae578063d14dde466199d9325d0#diff-5c149cf160539fd426925ca3b65fc5dafb2a1c9d5ae56df3212543e112d242fdR

[2020-11-26 21:00] denny commented on #68
Here's what I've done for now:
[code]

[2020-11-27 08:28] sighmon commented on #68
@doits `status.success?` [seems to be returning](https://github.com/sighmon/mjml-rails/commit/063152ce6dbc7ae578063d14dde466199d9325d0#diff-5c149cf160539fd426925ca3b65fc5dafb2a1c9d5ae56df3212543e112d242fdR40) `true` for MJML template syntax errors.

I'll push the fix @denny mentions checking for `stderr.blank?`.

Was there a reason you chose `Open3.capture3` over `Open3.popen3` and the change in e

[2020-11-27 08:42] #68 closed

[2020-11-27 09:10] doits commented on #68
Actually I was under the impression that `mjml` will return a correct error code when compilation fails, but I didn't check it – sorry for breaking it! I created #71 with a test for it so it won't break next time.

[2020-11-27 13:08] doits commented on #68
I took a dive again and made another PR #72 with some more explanation.

[2020-11-28 15:57] denny commented on #49
I have this warning on every deploy on Heroku, but the code actually works fine. I think it's something to do with the order the node stuff installs but I'm not sure, and the config changes I tried made no difference... I gave up worrying about it on the end.

[2020-11-29 02:25] sighmon commented on #68
@denny How does version `4.5.0` look to you? Does that work for your workflow?

[2020-11-29 02:55] sighmon commented on #49
@denny Does `4.6.0` allowing you to set the path to the binary help?

[code]

[2020-11-30 12:58] doits commented on #39
I think this issue fixed in the latest versions, since the `Mjml::BIN` constant is gone and the version check happens only after initialization. Changing the binary is possible now with:

[code]

In addition errors are raised by default so you shouldn't get blank emails if something breaks after an upgrade, unless you manually disabled exceptions or set the validation level to `soft`.

[2020-12-01 15:46] nflorentin opened #76 "Email very slow to be sent: compilation time is the cause ?"
Hi and thank you for this gem!

I have one question: is there a possibility to compile only once the mjml to html and not everytime an email is sent ?

I'm seeing an increase from 10ms to 1000 to 2000ms to send an email. I imagine that the cause is the mjml compilation.

Thank in advance for your help!

[2020-12-01 16:36] doits commented on #76
Sending e-mails takes the same amount of time for me, so this seems to be normal.

I don't think precompilation is possible though since MJML must work on the complete body – it cannot compile partials for example, because output depends on stuff around it like [head components](https://mjml.io/documentation/#standard-head-components). So it must know the complete content beforehand, which in fact

[2020-12-01 16:41] doits commented on #52
(For reference what I wrote in #76)

I don't think precompilation is possible though since MJML must work on the complete body – it cannot compile partials for example, because output depends on stuff around it like [head components](https://mjml.io/documentation/#standard-head-components). So it must know the complete content beforehand, which in fact means it must be compiled once for every e-ma

[2020-12-02 07:16] nflorentin commented on #76
@doits Thanks for you answer!

You are right, after a bit of digging, I arrive to same conclusion. Erb rendering has to happened prior to the mjml rendering to render partials and the email template inside the layout. It would be impossible to switch the order.

I thought of a trick if the slow perf is really a problem for someone, making a rake task which:
- take the code of the mjml email  templ

[2020-12-02 07:17] nflorentin commented on #52
I thought of a trick if pre rendering mjml is a must for you, making a rake task or some script which:
- take the code of the mjml email  template
- replace manually the <%= yield %> of the mjml layout with the content of the mjml email template
- write the complete rendered email into a tmp file
- run mjml compilation on the tmp file and write the html.erb file into a new file

The last file will

[2020-12-02 20:00] chasegiunta commented on #68
@sighmon @doits @denny So, the change between 4.4.1 & 4.4.2 (and subsequent 4.5.0 & 4.6.0 releases) has caused templates with mjml errors to not render at all and fail silently if:

[code]

Previously, in 4.4.1, you could still render a template with a validation error, and suppress the exception(s) with the config above. With 4.4.2, while errors are apparent if `config.raise_render_exception = tr

[2020-12-02 20:30] doits commented on #68
Yes, to solve your issue only set `config.validation_level = "soft"` if you want to render templates with errors.

Normally you do not want to render malformed templates, that is why it raises an error by default. You shouldn't change `config.raise_render_exception` for this. Exceptions are only raised if something really bad happens with validation level `soft`, not if the template is malformed,

[2020-12-02 20:34] doits commented on #68
Actually I think you are right – *only* in version 4.4.1 it *did* render invalid templates, which was a bug though (it had nothing to do with `raise_render_exception = false` though). 4.4.1 was released only for a short time (I think a day?) so I'm sorry if you hit this and based your assumptions/config on this.

[2020-12-03 19:05] chasegiunta commented on #68
@doits That makes sense. Thanks for the thorough explanation 👍

[2020-12-03 19:52] chasegiunta opened #78 "'AbstractController::ActionNotFound' error with mj-font & Google font unescaped URL"
Pulling in multiple font weights the official way via Google Fonts url will throw an error:
[code]
In order to pull in multiple font multiple font weights from Google, this is the tag used:
[code]

Looks like MJML is getting held up on the unescaped semicolons being used in the `?family` param. Escaping those semicolons like so:
[code]
... gets around the error. Not blocking me, but figured I'd fl

[2020-12-03 20:00] chasegiunta commented on #78
This may ultimately be a premailer issue. If so, forgive me (ha) and feel free to close.

[2020-12-05 00:04] sighmon commented on #78
@chasegiunta Sounds like it might be an `MJML` bug rather than a `MJML-Rails` bug, so see if you can replicate it here: https://mjml.io/try-it-live

If you can't, pop a sample `.mjml` file here and we can work on a fix.

[2020-12-08 17:26] chasegiunta commented on #78
@sighmon Cannot reproduce on the live editor: https://mjml.io/try-it-live/BysLSV6sP

[2020-12-19 07:54] sighmon commented on #76
@nflorentin I just merged @doits latest PR which optimises the regex, so see if that makes any significant difference for you.

[2020-12-23 05:19] sighmon commented on #78
@chasegiunta I tried your Google embed code in a [example_mjml_rails](https://github.com/sighmon/example_mjml_rails/commit/63de9d75b56e9d3eecb23c7de75a9c136c7edd40) app, and I can't replicate the bug sorry.

<img width="1792" alt="Screen Shot 2020-12-23 at 3 43 59 pm" src="https://user-images.githubusercontent.com/314298/102962247-59ad1d00-4536-11eb-8c24-e06de32794b6.png">

[2021-01-01 21:10] denny opened #79 "MJML 4.8.x broke my validator again :)"
I don't have time to dig into this one as thoroughly as last time, sorry 🙁  I have a nasty feeling it may be filed under 'feature not a bug' at the MJML end so I'll have to adapt somehow, but I thought I'd run it past you as it is a change in behaviour of/via your gem, without your code having changed, which I would imagine is quite frustrating!

Layout: [plugins/ShinyNewsletters/app/views/layouts

[2021-01-01 21:23] denny commented on #79
https://github.com/mjmlio/mjml/commit/1ee581fd9443aaf7bd7f0aaeca02419cdc148124 looks possibly relevant... :-\

[2021-01-06 00:05] denny commented on #79
Definitely a change in how the mjml command responds to a partial input file 😒
[code]

[2021-01-06 00:18] denny commented on #79
Possibly interesting...

[code]

... so the explicit validation option -v fails (with a useful error) if the MJML in a partial input file is actually invalid, but not if it's valid-but-incomplete. Is there any way for me to get at that behaviour through mjml-rails currently?

[2021-01-12 14:42] nflorentin commented on #76
@sighmon Sorry for the delay !

I tried it, there is a 5-10% decrease in compilation time (the compilation time is ~975ms instead of 1050ms for small email in my app).

Thanks for your feedback.

[2021-01-14 19:57] denny commented on #79
[I rewrote my validator](https://github.com/denny/ShinyCMS-ruby/pull/859/files) to call out to `mjml --validate` directly, which solves the problem for me.

I'm going to close this issue as I feel like the validation/validator stuff is probably an edge case 🙂 If anybody else runs into a related problem then hopefully they'll find this and they can link/re-open.

I was wondering whether to try to a

[2021-01-14 19:57] #79 closed

[2021-01-27 15:22] chasegiunta commented on #78
@sighmon never really got a chance to follow-up but if you want to close this, up to you.

We can probably either chalk this up to a dependency issue here, or something project-specific. Either way, the workaround works and this issue will serve as help for anyone who might possibly run into this in the future.

[2021-01-29 10:40] #78 closed

[2021-02-25 11:08] sandip-mane commented on #49
Facing this same problem.

[2021-02-28 00:16] sighmon commented on #49
@sandip-mane Do you have an example project you can point me to with the code you're running?

[2021-02-28 03:58] vinay0x commented on #49
@sighmon I work with @sandip-mane and we've been trying to fix the issue for a week now. I've created another sample repo which we use as a base for all our projects, and I've added MJML to it. It's a Heroku-ready repository and it also faces the same issue.

![Screenshot 2021-02-28 at 9 25 59 AM](https://user-images.githubusercontent.com/10897109/109407470-11cbcb80-79a7-11eb-99f9-ae810613f766.png

[2021-03-03 10:47] sighmon commented on #49
@vinay0x Have you added a heroku build pack for it at index 1?

[2021-03-03 18:55] sandip-mane commented on #49
@sighmon Yes, the `nodejs` buildpack is at index 1.

[2021-03-03 18:57] vinay0x commented on #49
Same here. Node.js buildpack is at index 1.

[2021-03-14 03:42] sighmon commented on #49
@sandip-mane Did you try moving the `heroku/ruby` build pack right below the `heroku/nodejs` one?

[2021-03-15 05:41] vinay0x commented on #49
@sighmon Yes I had tried doing the same with @sandip-mane but no avail.

[2021-03-18 16:21] alexlsalt opened #81 "HAML links resulting in inline HTML"
## Issue

When using mjml-rails in conjunction with haml, the expected haml behavior of embedding a Ruby link into a line with `=` resulted in inline HTML instead of a functioning link.

[code]
## Expected behavior

The code above should render a working link, correctly formatted, like this:

![Screenshot 2021-03-18 at 16 35 05](https://user-images.githubusercontent.com/45923677/111653283-14804a80

[2021-03-24 07:03] sighmon commented on #49
@sandip-mane @vinay0x When you `bash` into Heroku, is there any sign of `mjml` manually? Here's what I see:

[code]

[2021-03-30 15:05] bcackerman commented on #76
Also seeing the same with upgrading from `4.4` to `4.6.1`

[2021-03-30 17:11] bcackerman commented on #76
Just reverted versions to `4.4` again and immediate improvement
![image](https://user-images.githubusercontent.com/473529/113028601-11af1f00-9151-11eb-86ee-2b7fe21e95cd.png)

[2021-04-02 02:31] sighmon commented on #76
@bcackerman Would you mind trying `4.5` as well to see which version introduced the higher compilation time?

[2021-04-13 15:33] victordarras opened #82 "image_tag helper in MJML template"
Hi,
I'd like to use a standard rails `image_tag` in my template, but MJML seems to ignore it, am I doing it wrong ?

[code]

[2021-04-14 08:27] victordarras commented on #82
Nevermind, I found another solution that work perfectly with :

`<mj-image src="<%= image_url('logo_colored_horiz.png') %>" width="120">`

[2021-04-14 08:27] #82 closed

[2021-04-15 23:09] sighmon commented on #82
@victordarras Nice one, that's how I call images and other assets too.

[2021-04-20 06:29] bcackerman commented on #76
4.5 works as normal! Seems it's 4.6.1 that's the issue

[2021-04-20 07:38] doits commented on #76
Can you please test with `4.6.0`, too?

And can you check if those two setting make a difference on latest version?

[code]

[2021-04-26 16:36] PeteTheSadPanda commented on #76
Hey @doits these configuration values haven't helped, still very slow processing unrelated to swap or any such thing.

[2021-04-26 16:45] doits commented on #76
Is it same for you that one version is fast and the next one is slow? If so, which last version is fast and which one the first one to be slow?

[2021-04-26 16:48] PeteTheSadPanda commented on #76
4.4 was the last version which was performant, each version we've tried beyond that has been what appears to be an order of magnitude slower. Worth noting, we are hosted on heroku and the version of mjml as installed by npm globally is 4.9.0, we are using version 4.6.0 of this gem

[2021-04-26 16:58] PeteTheSadPanda commented on #76
Apologies @doits I believe it was 4.5 (Bruce and I are on the same team with the same issue).

[2021-04-26 17:44] doits commented on #76
Just to be sure and explicit: `4.6.0` (with a zero) is the first slow version?

Another wild guess: Can you please see on latest version if explicitly providing the path to the binary?

[code]

... and if that does not solve it one last try: Please redefine `valid_mjml_binary` to directly return it:

[code]

Does any of these help?

[2021-05-25 10:47] AlecRust opened #83 "MJML must be installed globally"
### Background

After a format of my machine and careful new setup via [my dotfiles](https://github.com/AlecRust/dotfiles), I have Node installed _only_ via NVM (no duplicate Homebrew Node version at `/usr/local/node`) and have installed global Node packages using the [recommended approach](https://github.com/nvm-sh/nvm#default-global-packages-from-file-while-installing) including Yarn, which is i

[2021-05-26 09:09] sighmon commented on #83
@AlecRust I don't use yarn, so I've never tested `mjml-rails` functionality with it.

But other contributors have added yarn support, here's where it's checked: https://github.com/sighmon/mjml-rails/blob/master/lib/mjml.rb#L67

Looking at the way we look for a valid yarn mjml binary, can you see anywhere where it might be failing for your setup?

[code]

[2021-05-26 09:52] AlecRust commented on #83
Thanks @sighmon. I see that code runs `which yarn` to find the binary. I assume this is the issue, as `which yarn` in my case doesn't return a path to a binary, but a function:

[code]

This is standard based on the NVM/npm installed Yarn setup described above, however sometimes when I run `which yarn` I _do_ get a binary path:

[code]

Looks like the check code would work for a Homebrew or manual

[2021-05-26 15:10] AlecRust commented on #83
OK, figured out what is causing this. I had `export NVM_LAZY_LOAD=true` in my `~/.zshrc` which is an option of [zsh-nvm](https://github.com/lukechilds/zsh-nvm#lazy-loading).

I have disabled this, but I don't seem to have this issue with other gems or Node packages. A very crude solution would be to include this command in your gem before the code that runs `which yarn`:

[code]

[2021-07-22 01:54] fpjoe commented on #49
We're having the same issue, getting the same errors.  Tried most of the same things mentioned by @vinay0x (1 and 3, was about to try 2).  Currently trying 4.6.1 of the gem and npm package.

When I bashed into Heroku, I got:

[code]

[2021-07-23 04:39] sighmon commented on #49
@fpjoe What do you see during a deployment for this section:

[code]

Are you running more than two buildpacks? Is nodejs definitely first in your deploy logs?

[2021-07-23 18:38] fpjoe commented on #49
We got it working, by doing #2 from @vinay0x list, i.e. adding this to package.json:

[code]

[2021-08-12 10:05] doits commented on #76
Just another heads up if you use `yarn`: `yarn run` is really slow for me and calling `mjml` by `./node_modules/.bin/mjml` is much faster

[code]

So you could try to specify `mjml` custom binary to *not* use `yarn run` and see if this speeds up thing.

Yarn 3 might have fixed it, as they write in their changelog https://github.com/yarnpkg/berry/blob/master/CHANGELOG.md:

[2021-08-17 15:54] boardfish opened #84 "Support JSON MJML templates"
Context is shared with mjmlio/mjml#2343:

I'm working with Mailjet's templates API. Templates get returned from this in [JSON format](https://documentation.mjml.io/#using-mjml-in-json). If I can't get that converted back to standard MJML so that it's compatible with this library, it'd at least be good to be able to use it directly.

It's already compatible with the CLI, so I think the only gatekee

[2021-08-18 11:53] boardfish commented on #84
You can use my [Ruby snippet](https://github.com/mjmlio/mjml/issues/2343#issuecomment-900458503) to convert the MJML from JSON back to XML.

[2021-08-18 11:53] #84 closed

[2021-08-18 11:56] boardfish opened #85 "Support variables as used in Mailjet"
Mailjet's MJML templates allow templating of variables using this syntax: `{{var:variable_name}}`. `data` is also used as a key for things that come from the recipient's profile in Mailjet. It'd be good if this library supported templating in that format so that templates are portable between a local environment and Mailjet.

[2021-08-18 12:52] sighmon commented on #85
@boardfish What happens if you wrap them in an `<mj-raw>` tag?

[2021-08-18 13:48] boardfish commented on #85
If I understood you correctly, using `<mj-raw>{{var:name}}</mj-raw>` might change things. Unfortunately, there was no change in output.

[2021-08-21 09:10] sighmon commented on #85
@boardfish And if you wrap them: `<mj-text>{{var:name}}</mj-text>` does that work any better?

Perhaps I'm missing the problem... you might have to describe it a little clearer for me sorry - it's been a while since I've been back into this project.

[2021-08-22 13:39] boardfish commented on #85
I'll give that a try tomorrow.

The problem I'm facing is that I want to use Mailjet's templating syntax (e.g. `{{var:name}}`) to inject data into the rendered MJML. I'm aware this gem has support for ERB templating syntax (`<%= @name %>`) inside MJML, but native support for Mailjet's syntax would be really helpful for my use case. Ideally, `{{var:name}}` would do the same as `<%= @name %>` and ad

[2021-08-24 12:20] boardfish commented on #85
Closing this issue because my alternate solution — passing Mailjet's `HTMLContent` through a gnarly regex and processing it with Mustache — appears to have worked. There may be a good reason for this gem to support Mailjet's Mustache-esque tags, but I figure another issue should be opened if that ever becomes the case.

[2021-08-24 12:20] #85 closed

[2021-08-24 12:23] boardfish commented on #85
Here's that regex: `/({[{%](?:\s\w+\s*)?)\w{2,}:(\w+)(?::[\w"]+)?(.*[%}]})/`

You'll need to run it multiple times:

`loop { break unless template_content.gsub!(regex) }`

[2021-09-11 06:05] sighmon opened #86 "Fix tests"
- [x] Fix tests now that `body` appears to have a style attached by default

[2021-09-11 06:11] #86 closed

[2021-09-11 06:42] sighmon commented on #81
@alexlsalt Sorry for the huge delay... did you have any suggestions for changes in `mjml-rails`? I don't use HAML, so it'd be great if you wanted to put together a PR.

[2021-10-01 10:14] arvida commented on #76
We just started to do this (using the `mjml` binary directly by setting `mjml_binary` with `Mjml.setup`). And it looks like it has removed around 300 ms on average on our e-mail rendering time on Heroku. I only have data for a couple of hours yet, but it looks promising.

[2021-12-07 18:26] #65 closed

[2021-12-10 14:13] der-flo opened #89 "RuboCop?"
Are you interested in integrating RuboCop in your Gem?

I'm willing to create a pull request containing a RuboCop setup and fixes for all offenses in the existing code. I would start with the default RuboCop configuration which seems common sense in the community.

[2021-12-10 14:21] der-flo opened #90 "`Mjml::Parser#render` suppresses errors in case of Tempfile exceptions"
In case of an exception in `Tempfile.open` the `in_tmp_file` in the current [`ensure` block](https://github.com/sighmon/mjml-rails/blob/master/lib/mjml/parser.rb#L18) is `nil`, which lets to another exception when calling `unlink`. This shadows the original exception.

We encountered this issue in context of a Docker environment and fixed this via a monkey patch.

Are you interested in a pull requ

[2021-12-10 14:29] der-flo opened #91 "Exit code in case of an error when calling the mjml binary"
We ran into issues when calling out to the mjml binary. Our Docker environment sometimes kills the child process because of limited memory. In the case the process fails silently. We were able to debug this with a monkey patch adding the exit code to the [ParseError](https://github.com/sighmon/mjml-rails/blob/master/lib/mjml/parser.rb#L38).

Are you interested in a pull request adding this debug i

[2021-12-10 22:39] sighmon commented on #89
@der-flo That would be amazing thank you! We could also add it to the GitHub [Action](https://github.com/sighmon/mjml-rails/blob/master/.github/workflows/test.yml) before the tests run.

[2021-12-10 22:41] sighmon commented on #90
@der-flo A PR with a test case would be excellent thanks.

[2021-12-10 22:42] sighmon commented on #91
@der-flo Adding debug to the ParseError sounds excellent too. Yes please.

[2021-12-13 18:13] der-flo commented on #89
It's on my list for the coming friday. Stay tuned.

[2021-12-13 18:14] der-flo commented on #90
It's on my list for the coming friday. Stay tuned.

[2021-12-13 18:14] der-flo commented on #91
It's on my list for the coming friday. Stay tuned.

[2021-12-17 15:57] #89 closed

[2021-12-17 16:23] #90 closed

[2021-12-21 11:05] der-flo commented on #91
Christmas is coming, I‘ll prepare this in january.

[2022-01-14 14:20] #91 closed

[2022-05-02 13:31] DonGiulio opened #96 "SIGKILL (signal 9) on many concurrent emails"
Hello,

in our prod platform.sh we are getting tons of errors saying `(process status: pid 96294 SIGKILL (signal 9))`

I checked the source of the GEM and managed to track down the issue to something to do with Open3.

Where basically running many times concurrently mjml becomes really slow (taking many minutes to complete), and I believe this takes Open3 to kill the tasks for some reasons.

here'

[2022-05-05 12:04] sighmon commented on #96
@DonGiulio Is this any help? https://github.com/sighmon/mjml-rails/pull/95/files

[2022-05-17 07:50] nflorentin commented on #76
I did some tests.

Defining the binary as ./node_modules/.bin/mjml seems to give a 35% decrease in compilation time.
Updating to 4.6.1 (regexp improvement) gives an additional 4-5% decrease.

[2022-05-17 07:50] #76 closed

[2022-05-18 13:09] DonGiulio commented on #96
Thanks, sorry for the late response, I was busy with something else.

I switched using the gem from the pull request, and behaviour changes a little, but still it doesn't work:

first of all it's way faster (takes few seconds, to the several minutes we had before).

Here's the output from the same script as before:

[code]

and checking which files have been produced shows that a few of them have:

[2022-05-18 14:59] DonGiulio commented on #96
hello sorry for taking so long to respond,

I tried using the gem from the github pull request,

with this I get to wait a very long time to get the html files ready, (over half an hour)

as a result several of the tasks were still killed:

[code]

but it seems that all the html files were created.

[2022-05-19 08:57] sighmon commented on #96
@DonGiulio If you can't get anywhere with your current approach, can you pre-generate MJML > HTML templates in background tasks and then use those templates to be populated for realtime sending?

[2022-08-22 19:15] nratter opened #97 "How to use this library to generate a string of raw html?"
I'm looking to build a client-side 'preview' of an email using this library. Since mjml runs on the server, is there a way we can use this library to generate an html string that can then be used to pass to the client?

[2022-08-22 23:05] sighmon commented on #97
@nratter For sure. Here's how I use it for that purpose:

[code]

[code]

[2022-09-06 11:14] adipasquale commented on #76
thank you for the tip, this massively sped up mail compile times for me:

[code]

I was actually looking at trying [mrml](https://github.com/jdrouet/mrml) a much faster rust implementation of MJML because it was so slow with the default mjml-rails setup. This config tip has improved the performances so much that I'll stop looking. thanks!

[2022-09-10 00:34] sighmon commented on #76
@adipasquale Nice one. I'll add that to the README.

[2022-09-22 10:22] alanhala commented on #76
I created https://github.com/sighmon/mjml-rails/pull/98 which removes the need of specifying the binary manually.

[2022-11-17 17:22] zalom commented on #49
This can help as well.
We used a slug cleaner build pack on Heroku, and we removed `node_modules` in the process. Effectively introducing the

message.

The trick was to add `npm install mjml@4.9.0` to run at the end (the solution from above -> https://github.com/sighmon/mjml-rails/issues/49#issuecomment-885827868) would not work for us because our cleaner was the last build pack.

In the end, we